@(computerForm: Form[Computer], companies: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a TODO</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(computerForm("name"), '_label -> "TODO", '_help -> "")
            @inputDate(computerForm("introduced"), '_label -> "Deadline", '_help -> "")
            @inputDate(computerForm("discontinued"), '_label -> "Progress", '_help -> "")

            
            
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this todo" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
